---
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/Carousel.astro';
import Proyect from '../components/Proyect.astro';
import Location from '../components/Location.astro';
import Contact from '../components/Contact.astro'
---

<Layout title="Pabellón Olivos">
	<main>
		<Carousel/>
		<Proyect/>
		<Location/>
		<Contact/>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		/* width: 800px; */
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
</style>
