<section id="contact" class="my-10 bg-yellow-50 h-[60vh] text-black flex flex-col md:flex-row content-center items-center">
    <div class="flex flex-col mx-20 w-full md:w-5/12" >
        <h1 class="text-black font-bold text-4xl">Contacto</h1>
        <p> Comunícate con nosotros a través llenando el siguiente formulario o enviando un correo a ventas@pabellonolivos.com </p>
    </div>
    <form action="https://formspree.io/f/mbjvkorw" class="flex flex-col w-full items-center border-2 border-black h-[90%] rounded-md mx-8" method="POST">
        <input type="text" name="name" class="w-[90%] mx-4 my-4 text-[#495057] bg-yellow-50 border-b-2 border-black" id="name" placeholder="Nombre">
        <input type="email" name="email" class="w-[90%] mx-4 my-4 text-[#495057] bg-yellow-50 border-b-2 border-black" id="email" placeholder="Email">
        <input type="text" name="company" class="w-[90%] mx-4 my-4 text-[#495057] bg-yellow-50 border-b-2 border-black" id="empresa" placeholder="Empresa">
        <textarea class="w-[90%] h-[40%] bg-yellow-50 border-b-2 border-black mx-4 my-2" name="message" id="message" placeholder="Escriba su mensaje ..." aria-required="true" aria-invalid="false"></textarea>
        <!-- <input type="text" class="w-[90%] mx-4 text-[#495057] my-4 bg-yellow-50 border-b-2 border-black" name="message" id="message" placeholder="Escriba su mensaje..."> -->
        <button class="bg-black rounded-md text-white hover:bg-green-400 hover:text-black w-36" type="submit">Enviar</button>
    </form>
    <!-- <div class="flex flex-col content-center items-center w-full mx-10 md:w-7/12 h-[80%] border-4 border-black rounded-lg">
        <form class="flex flex-col justify-evenly h-[100%] items-center text-black"
        action="https://formspree.io/f/mbjvkorw"
        method="POST"
        >
            <label>
            Email:
                <input class="mx-10" type="email" name="email">
            </label>
            <label>
            Nombre:
                <input class="mx-10" type="text" name="name">
                </label>
            <label>
            Empresa: 
                <input class="mx-10" type="text" name="company">
            </label>
            <label>
            Mensaje:
            <textarea class="mx-10" name="message"></textarea>
            </label>
            <button class="bg-black text-white w-36" type="submit">Enviar</button>
        </form>
    </div> -->
</section>