<footer class="flex flex-col w-full items-center justify-around font-bold mb-8 text-black">
    <div class="flex flex-col md:flex-row text-xs md:text-base items-center justify-center">
        <p class="w-full md:w-3/12">Blvd. Felipe Angeles Esq. 24 de Octubre Ampliación, San Antonio el Desmonte, 42111. Pachuca de Soto, Hgo</p>
        <h1 class=" w-[50%] md:w-3/12" >contacto@pabellonolivos.com</h1>
        <h1 class="w-[50%] md:w-3/12" >Términos y condiciones</h1>
        <h1 class="w-[50%] md:w-3/12">Políticas de privacidad</h1>
    </div>
    <h1 class=" text-black ">Todos los derechos reservados a Grupo Kohmi © 2023</h1>
</footer>