<section class="my-10 bg-yellow-50 h-[90vh] flex flex-col md:flex-row content-center items-center">
    <div id="explanation" class=" md:mx-20 w-full md:w-5/12 ">
        <h1 class="text-black font-bold text-4xl my-8">Ubicación</h1>
        <p class="text-black text-base">Ubicada sobre la carretera México-Pachuca la ubicación de Pabellón Olivos ofrece un flujo continuo de automóviles que circulan por una de las principales avenidas de la ciudad. La plaza también se encuentra sobre una de las paradas del Tuzo Bus atrayendo de igual manera a los transeúntes que hacen uso del transporte público.</p>
    </div>
    <div class="items-center w-full mx-10 md:w-7/12">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2030.4433312920826!2d-98.79050418536224!3d20.049910915604162!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1a120bb98cfa3%3A0xec688f6aaa19ad56!2sPabell%C3%B3n%20Olivos!5e0!3m2!1ses-419!2smx!4v1694711126452!5m2!1ses-419!2smx" class="md:w-[600px] md:h-[450px] w-full h-[275px] my-8" style="border:0;" allowfullscreen="" loading="lazy" title="Ubicación de Pabellón Olivos" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>